@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Cuprum-Regular';
    src: url('/fonts/Cuprum-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Another-danger';
    src: url('/fonts/Another-danger.ttf') format('truetype');
  }

  :root {
    @apply bg-gray-shade-80 text-gray-tint-20;
    @apply text-base font-main;
    @apply scroll-smooth;
  }

  .container {
    @apply mx-auto px-4;
  }

  .headline {
    @apply font-headline uppercase leading-none;
  }

  .logo-headline {
    @apply relative -top-0.5;
    @apply font-logo text-red tracking-widest;
  }

  .menu__header {
    @apply font-logo text-3xl text-red tracking-widest;
  }
}

@layer utilities {
  .text-shadow-red {
    text-shadow: 0px 0px 2px rgba(204, 21, 23, 0.8);
  }
  .text-shadow-red-lg {
    text-shadow: 0px 0px 8px rgba(204, 21, 23, 0.8);
  }
  .text-shadow-red-xl {
    text-shadow: 0px 0px 16px rgba(204, 21, 23, 0.8);
  }
  .text-shadow-white {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.8);
  }
  .text-shadow-white-lg {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
  }
  .text-shadow-white-xl {
    text-shadow: 0px 0px 16px rgba(255, 255, 255, 0.8);
  }
  .text-shadow-black {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  }
  .text-shadow-black-lg {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.8);
  }
  .text-shadow-black-xl {
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.8);
  }
}

:root {
  --white: #ffffff;
  --black: #000000;

  --red-default: #cc1517;
  --red-shade-10: #b71214;
  --red-shade-20: #a31012;
  --red-shade-30: #8e0e10;
  --red-shade-40: #7a0c0d;
  --red-shade-50: #660a0b;
  --red-shade-60: #510809;
  --red-tint-10: #d12c2e;
  --red-tint-20: #d64345;
  --red-tint-30: #db5b5c;
  --red-tint-40: #e07273;
  --red-tint-50: #e58a8b;
  --red-tint-60: #eaa1a2;

  --gray-default: #7f7f7f;
  --gray-shade-10: #727272;
  --gray-shade-20: #656565;
  --gray-shade-30: #585858;
  --gray-shade-40: #4c4c4c;
  --gray-shade-50: #3f3f3f;
  --gray-shade-60: #323232;
  --gray-shade-70: #262626;
  --gray-shade-80: #191919;
  --gray-shade-90: #0c0c0c;
  --gray-tint-10: #8b8b8b;
  --gray-tint-20: #989898;
  --gray-tint-30: #a5a5a5;
  --gray-tint-40: #b2b2b2;
  --gray-tint-50: #bfbfbf;
  --gray-tint-60: #cbcbcb;

  --green-default: #32cd32;
}

@media screen(lg) {
  :root {
    font-size: 20px;
  }
}
