name: Release
on:
  release:
    types: [published]
    tags:
      - v*

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 16.x

      - name: Build Project
        run: |
          npm install
          npm run build

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: h26.seohost.pl
          username: srv50013
          password: ${{ secrets.FTP }}
          local-dir: ./public/
          server-dir: ./domains/reddevil.pl/public_html/
          dangerous-clean-slate: true
